<h2>Wishlist</h2>
<div class="container">
    <div class="row mb-3" *ngIf="products.length>0">
      <div class="col-4 mb-4" *ngFor ="let prod of products">
        <mat-card  >
          <mat-card-header>
            <mat-card-title>{{prod.name}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image [src]="prod.picUrl" routerLink="/customerpage/singleproduct/{{ prod._id }}"  style="height:200px;width: 200px;object-fit: cover;">
          <mat-card-content>
            <p>
              Price:- <b>{{prod.price}}.00</b>
            </p>
          </mat-card-content>  
          <mat-card-content>
            <p>
              {{prod.desc | truncate:43}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button mat-raised-button color="primary" (click)="addToCart(prod._id)" >{{prod.inCart? "Go to Cart" :"Add to Cart"}}</button>
            <button mat-button mat-raised-button color="accent" (click)="addToWishlist(prod._id)">Remove From Wishlist</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

