<!-- <div class="container mt-5">
    <h2>Your Cart</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems">
          <td><img [src]="item.orgProduct.picUrl" alt="{{ item.orgProduct.name }}" height="70"></td>
          <td>{{ item.orgProduct.name }}</td>
          <td><button class="btn btn-primary">-</button>{{ item.quantity }} <button class="btn btn-primary">+</button></td>
          <td>{{ item.orgProduct.price }}</td>
          <td>{{ item.quantity * item.orgProduct.price }}</td>
        </tr>
      </tbody>
    </table>
    <div class="row d-flex">
    <span class="col-offset-3"><strong>Total: {{ getTotal()  }}</strong></span>  
    </div>
  </div> -->
  

<!-- cart.component.html
<div *ngFor="let product of cartData">
  <img [src]="product.image" alt="{{ product.name }} Image" width="100" height="100" />
  <h3>{{ product.name }}</h3>
  <p>Quantity: {{ product.quantity }}</p>
  <p>Price: ${{ product.price }}</p>
  <p>{{ product.description }}</p>
  <hr />
</div>

<div *ngIf="cartData.length > 0">
  <h3>Total: ${{ getTotal() }}</h3>
</div> -->

<div class="container mt-5">
    <h2>Your Cart</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems">
          <td><img [src]="item?.orgProduct?.picUrl" alt="{{ item?.orgProduct?.name }}" height="120"></td>
          <td>{{ item?.orgProduct?.name }}</td>
          <td>
            <button class="btn btn-sm btn-secondary" (click)="decrement(item)">-</button>
            {{ item?.quantity }}
            <button class="btn btn-sm btn-secondary" (click)="increment(item?._id)">+</button>
          </td>
          <td>{{ item?.orgProduct?.price  }}</td>
          <td>{{ item?.quantity * item?.orgProduct?.price  }}</td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="deleteFromCart(item?._id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-right">
      <strong>Total: {{ this.totalValue  }}</strong>
    </div>
  </div>
  
