/* dashboard.component.scss */
.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  .mat-icon-button {
    margin-left: 75px;
    margin-right: 75px;
    line-height: 22px;
  }
  // .mat-form-field {
  //   .search-icon {
  //     background-color: transparent !important;
  //   }
  // }
  
  .dashboard-content {
    padding: 16px;
  }
  