 <div class="dashboard-container mb-4">
    <mat-toolbar class="theme-color d-flex justify-content-between ">
        <span aria-label="Home" [routerLink]="['/customerpage/home']" routerLinkActive="router-link-active">
            <img src="../../assets/bull.png" style="position:relative;bottom:7px;width: 8rem;height:8rem" alt="" srcset="">
        </span>
      <!-- <button mat-icon-button aria-label="Contact">
        <mat-icon>mail</mat-icon>
        <span>Contact</span>
      </button> -->
      <!-- <mat-form-field >
        <input matInput style="font-size: small;" placeholder="Search" />
        <mat-icon class="search-icon">search</mat-icon>
      </mat-form-field> -->
      <div>
        <button mat-icon-button aria-label="Wishlist" [routerLink]="['/customerpage/wishlist']" >
            <mat-icon>star</mat-icon>
            <span>Wishlist</span>
          </button>
          <button mat-icon-button aria-label="Add to Cart" [routerLink]="['/customerpage/cart']" >
            <mat-icon>add_shopping_cart</mat-icon>
            <span>Go to Cart</span>
          </button>
          <button mat-icon-button aria-label="My Orders" [routerLink]="['/customerpage/myorders']" >
            <mat-icon>shopping_basket</mat-icon>
            <span>My Orders</span>
          </button>
          <!-- <button mat-icon-button aria-label="Language">
            <mat-icon>language</mat-icon>
            <span>Language</span>
          </button> -->
          <button mat-icon-button aria-label="My Account" [routerLink]="['/customerpage/myaccount']" routerLinkActive="router-link-active">
            <mat-icon>account_circle</mat-icon>
            <span>My Account</span>
          </button>
          <button mat-icon-button aria-label="LogOut" (click)="logout()">
            <span>LogOut</span>
          </button>
      </div>
    </mat-toolbar>
  </div>
 
 
