
body, html {
    height: 100%;
    margin: 0;
    background-color: #e1bee7; /* Light royal purple background color */
}
  
.container {
    background-color: #fff; /* White background for the container */
    border-radius: 10px; /* Rounded corners for a card-like appearance */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Increased box shadow for a lift effect */

}

.btn-portal {
    background: linear-gradient(to right, #8e24aa, #6a1b9a); /* Gradient background */
    color: #fff; /* White text color */
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
    transition: background-color 0.3s; /* Smooth transition on hover */
}

.btn-portal:hover {
    background: linear-gradient(to right, #6a1b9a, #8e24aa);
    transition: background-color 0.3s; /* Smooth transition on hover */
}
